/* Estilos Cabecera Superior de Página */
div{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    color: #6a6a6a;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: .5px;
}

a , a:hover,a:active{
    color: inherit;
    text-decoration:none;
}

#superiorCabecera {
    background-color: #EEE;
    width: 100%;
    margin: 0 auto;
}

#superiorCabecera * {
    padding-top: 10px;
}

#enviosGratis{
    display: flex;
    align-items: center;
}

#logoutI{
    margin-left:15px;
    font-size:1rem !important;
    color:red;
}
#superiorCabecera i {
    display:inline-block;
    margin-right: 14px;
    font-size: 1.5rem;
}

#loginSuperior,#carrito{
    text-align:center;
    display:inline-block;
}

@media  (max-width: 992px) {
    #enviosGratis{
        display:block;
        padding-top:20px;
    }
    #superiorCabecera * {
        padding-top: 5px;
    }
    #logoutI{
        font-size:1px;
    }
}

/* Final Estilos Cabecera Superior de Página */

/* Estilos Cabecera Medio de Página */

#medioCabecera{
    display:flex;
    justify-items: center;
    align-items: center;
    flex-flow: wrap row;
    width:100%;
}
#medioCabecera h4 {
    font-size: 2.5ch;
}

#logo img{
    display:block;
    height:120px;
    width:80%;
}

#escribenos,#llamanos{
    display:flex;
    padding:0;
    margin-left:0;
}
#llamanos{
    padding-left:40px;
}

#escribenosIcono ,#llamanosIcono {
    padding:0;
    margin-left:0;
    flex-basis:10%;
    font-size:1.6ch;
    text-align:right;
}

#escribenosTexto ,#llamanosTexto {
    flex-basis:90%;
    text-align: left;
}

#buscador input {
    width: 80%;
    text-align: left;
}

#escribenosIcono i, #llamanosIcono i {
    font-size: 3em;
}

#llamanos p, #escribenos p {
    display: inline-flex;
    font-size: 1em;
    font-weight: 500;
}

@media  (max-width: 1200px) {
    #escribenos{
        padding-left:20%;
    }
}
@media  (max-width: 667px) {
    #logo img{
        width:80%;
        height:70%;
        margin:0 auto;
    }
    #buscador {
        margin: 0 auto;
        text-align:center;
        padding:20px 0px;
    }
    #escribenos,#llamanos{
        margin:0 auto;
        padding:0;
       left:25%;
    }

    #logoutI{
        font-size:1px;
    }
}

/* Estilos Medio Cabecera Medio de Página */

#inferiorCabecera {
    background-color: #7CAF2C;
    display: inline-flex;
    width:100%;
    justify-content: center;
    align-content: center;
}

#inferiorCabecera ul {
    justify-items: center;
    align-items: center;
    flex-flow: wrap row;
}

#inferiorCabecera li {
    display: inline-flex;
    justify-items: center;
    align-items: center;
    flex-flow: wrap row;
    color: #FFF;
    font-size: 2.1ch;
    font-weight: bold;
    padding: 20px 20px 0px 10px;
}
@media  (max-width: 1200px) {
    #inferiorCabecera li{
        width:24%;
    }
}
@media  (max-width: 667px) {
    #inferiorCabecera li {
        width: 45%;
    }
}

/* Estilos Main de Página */

main {
    display: flex;
    justify-content:center;
    align-content: center;
}

main nav {
    flex-basis: 400px;
    padding: 1ch 1ch 1ch 0.5ch;
}

main section {
    flex-basis: 75%;
    padding: 2ch;
}
#cabeceraUsuario {
    display:block;
    float:left;
    width: 100%;
    height: 80px;
    background-color: #7CAF2C;
    border-bottom: 1px solid #EBEBEB;
    padding-top: 30px;
    border-radius: 20px 20px 0px 0px;
    text-align:center;
    color:#FFF;
}
#registrate{
    display:block;
    float:left;
    background-color: sandybrown;
    width:100%;
    height:100px;
    color:#FFF;
    text-align:center;
    border-radius: 20px;
    margin-bottom:1.8ch;
    padding:4ch;

}
#registrate a{
    display:block;
    width:100%;
    height:100%;
    font-size:1.5ch;
}
#menuUsuario {
    display:block;
    float:left;
    width: 100%;
    background-color: #F5F5F5;
    border-radius: 20px;
    padding-bottom: 20px;
    border: 1px solid #EBEBEB;
    color:#FFF;
    margin-bottom:40px;

}

#menuSecciones > ul li {
    color:#5e5e5e;
}

#menuProductos {
    display:block;
    float:left;
    width: 100%;
    background-color: #F5F5F5;
    border-radius: 20px;
    padding-bottom: 20px;
    border: 1px solid #EBEBEB;

}

#cabeceraMenu {
    display:block;
    float:left;
    width: 100%;
    height: 80px;
    background-color: #7CAF2C;
    border-bottom: 1px solid #EBEBEB;
    padding-top: 30px;
    border-radius: 20px 20px 0px 0px;
}

#cabeceraMenu h4, #cabeceraUsuario h4 {
    color: #FFF;
    text-align: center;
    font-size:2.4ch;
}

#menuSecciones {
    display:block;
    float:left;
    padding: 20px 0px 20px 30px;
}

#menuSecciones ul li {
    margin: 2px 0px;
    margin-left: -20px;
    list-style: none;
    font-size: 1rem;
}

#menuSecciones ul li i {
    margin-right: 8px;
}

#menuSecciones ul li ul {
    margin: 5px 0px;
}

#menuSecciones ul li ul li {
    margin: 2px 0px;
    list-style: none;
    font-size: 0.8rem;
}

#menuSecciones ul li ul li i {
    margin-right: 8px;
}

/* Estilos Central Página */
.rejilla {
    display: block;
    float: left;
    height: 440px;
}

@media (min-width: 1600px){
    .rejilla {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}
@media (max-width: 1600px){
    .rejilla {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (max-width: 945px){
    .rejilla {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
.producto {
    display: block;
    float: left;
    margin: 10px;
    width: 100%;
    height: 400px;
    border: 1px solid #EBEBEB;
    border-radius: 20px;
}

.tituloProducto {
    display: block;
    float: left;
    width: 100%;
    height: 50px;
}

.producto .tituloProducto h6 {
    margin: 20px 10px 10px 20px;
    font-weight: bold;
    font-size: 14px;
}

.precioProducto {
    display: block;
    float: left;
    width: 100%;
    height: 40px;
    text-align: right;
    padding-right:20px;
}

.precioProducto span {
    font-size: 23px;
    font-weight: bold;
}

.producto .img-fluid {
    width: 100%;
    padding: 10px 20px 0% 20px;
    height: 260px;
}

.controladorCompra {
    width: 100%;
    display: flex;
    float: left;
}

.botonWhish {
    width: 20%;
    color: #EE1F33;
    font-size: 30px;
    margin-top: 1px;
    display: block;
    float: left;
    margin-left: 30px;
}

.botonComprar {
    display:flex;
    justify-content:center;
    align-content:center;
    flex-basis:70%;
    height: 35px;
    background-color: #7CAF2C;
    border: 1px solid #EBEBEB;
    color: #FFF;
    font-size: 1rem;
    border-radius: 20px;
}

.botonComprar i {
    display: inline-block;
    float: left;
    margin: 0px 10px 0px 10px;
    font-size: 22px;
    color: #000;
    margin-top: 4px;
}

.botonComprar p {
    display: inline-block;
    float: left;
    font-weight: bold;
    font-size: 15px;
    margin-top: 5px;
}

#cabeceraInfo {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
}
#controladorPagina{
    display:flex;
    justify-content: center;
    width:100%;
    padding-top:50px;
}

#paginaAnterior i{
    font-size: 2rem;
    margin-right:20px;
}
#paginaSiguiente i{
    margin-left:20px;
    font-size: 2rem;
}
#infoProducto{
    display:block;
    float:left;
    margin-bottom:40px;
}
#productoImagen{
    display:block;
    float:left;
    width:100%;
    height:650px;
}
#imagenProducto{
    border: 1px solid #EBEBEB;
    padding:50px;
    width:95%;
    height:100%;
}
#datosProducto{
    display:block;
    float:left;
}
#datosProducto h4{
    font-size: 2.2ch;
    margin: 30px 0px;
}
#datosProducto h5{
    font-size:1.6ch;
    margin-bottom: 10px;
}
#cajaEnvio {
    color: sandybrown;
    font-size: 3ch;
    padding-top:3px;
    margin:0px 15px;
    display:inline-flex;
    width:30px;
    text-align: center;
}

#calendario {
    color: indianred;
    font-size: 3ch;
    padding-top:3px;
    margin:0px 15px;
    display:inline-block;
    width:30px;
    text-align: center;
}

#dolarProducto {
    color: yellowgreen;
    font-size: 3ch;;
    padding-top:3px;
    margin:0px 15px;
    display:inline-block;
    width:30px;;
    text-align: center;
}
#tag {
    color: blueviolet;
    font-size: 3ch;
    padding-top:3px;
    margin:0px 15px;
    display:inline-block;
    width:30px;
    text-align: center;
}
#tags {
    color: deepskyblue;
    font-size: 3ch;
    padding-top:3px;
    margin:0px 15px;
    display:inline-block;
    width:30px;
    text-align: center;
}

#controladorCompra{
    display:flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
   margin-top:50px;
}
#loQuiero{

    background-color: #EE1F33;
    display:flex;
    justify-content: center;
    align-content: center;
    flex-basis: 100%;
    padding:0px 30px 30px 30px;
    border: 0.5px solid #EBEBEB;
    color: #FFF;
    font-size: 2ch;
    border-radius: 20px;
    height:90px;
}
#loCompro{
    display:flex;
    justify-content: center;
    align-content: center;
    flex-basis: 100%;
    padding:0px 30px 30px 30px;
    background-color: #7CAF2C;
    border: 0.5px solid #EBEBEB;
    color: #FFF;
    font-size: 2ch;
    border-radius: 20px;
    height:90px;
}
#loCompro a,#loQuiero a{
    display:inline-block;
    width:100%;}

#loCompro h4,#loQuiero h4{
    display:inline-block;
    width:100%;
}

#loCompro i,#loQuiero i{
    padding-right:10%;

}
@media  (max-width: 1300px) {
    .productoI{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
    .productoIn{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
    #loQuiero,#loCompro{
        flex-basis: 50%;
    }
    #loCompro h4,#loQuiero h4{
        text-align:center;
    }
}

#comentariosProducto{
    display:block;
    width:100%;
    float:left;
}
#comentariosProducto p{
    margin-left:30px;
}
#comentariosProducto h6{
    margin:15px 5px;
}
#sinComentarios{
    display:block;
    float:left;
    width:100%
}
hr{
    width:60%;
}
.historyPA, .infoPA,.giftsPA,.heartPA,.comentariosPA{
    display:inline-block;
    width:40px;
    height:40px;
    text-align:center;
    margin-rigth:10px;
}
.giftsPA{
    color:brown;
    font-size:2rem;
}
.heartPA{
    color:red;
    font-size:2rem;
}
.comentariosPA{
    color:blue;
    font-size:2rem;
}
.historyPA, .infoPA{
    color:green;
    font-size:2rem;
}
.imagenC{
    display:block;
    width:100%;
    float:left;
}
.imagenComentarioD{
    display:block;
    width:20%;
    height:350px;
    float:left;
}
.textoComentarioD{
    display:block;
    margin-top:50px;
    width:80%;
    float:left;
}
.imagenComentarioI{
    display:block;
    width:300px;
    height:300px;

}

.card{
    margin-top:100px;
    margin-bottom:100px;
}
.card-header{
    font-size: 1.6rem;
}

/* Estilos Pie de Página */

#superiorPie {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    overflow:hidden;
}

#carousel {
    height: 150px;
    margin: 0 auto;
    overflow:hidden;
}

#burbuja1, #burbuja2, #burbuja3, #burbuja4, #burbuja5 {
    display: inline-flex;
    margin: 0px 50px;
    overflow:hidden;
    width:150px;
}

.marca {
    width: 15ch;
    height: 15ch;
}

#medioPie {
    display: block;
    float: left;
    width: 100%;
    background-color: #F5F5F5;
    margin: 0 auto;
    padding: 20px;
    padding-top: 30px;
    margin-top: 0px;
}

#izquierdaPie, #centroPie, #derechaPie {
    display: block;
    float: left;
}

#mapa {
    display: block;
    width: 95%;
    height: 330px;
    overflow: hidden;
    position: relative;
    border: 1px solid #EEE;
}

#mapa li {
    margin-left: -20px;
    list-style: none;
}

#centroPie li {
    margin-left: -10px;
    list-style: none;
}

#derechaPie li {
    list-style: none;
}

#centroPie li i, #derechaPie li i {
    margin-right: 10px;
}

#nuestraEmpresa, #infoTienda {
    margin-top: 60px;
}

#formasPago li {
    margin-top: 10px;
    display: inline-block;
    text-align: center;
    padding: 6px;
    font-size: 3rem;
}

#emailPie {
    margin-left: 30px;
}

#redesSociales ul li {
    margin-top: 10px;
    display: inline-block;
    text-align: center;
    padding: 6px;
    font-size: 3rem;
}

#redesSociales ul li:nth-child(1) {
    color: blue;
}

#redesSociales ul li:nth-child(2) {
    color: orange;
}

#redesSociales ul li:nth-child(3) {
    color: red;
}

#redesSociales ul li:nth-child(4) {
    color: blue;
}


#inferiorPie {
    display: block;
    float: left;
    width: 100%;
    height: 50px;
    color: #FFF;
    background-color: #3E474C;
    font-size: 0.8em;
    padding: 20px;
    margin-bottom: 0px;
}


.userM, .times-circleM, .heartM{
    display:inline;
    width:50px;
    height:50px;
    font-size: 2rem;
    margin:20px;
}

.userM{
 color:dimgrey;
}

.times-circleM{
    color: red;
}
.heartM {
    color:red;
}
.greenModal{
    background-color:green;
    color:#FFF;
}
.redModal{
    background-color:red;
    color:#FFF;
}
.greyModal{
    background-color:dimgrey;
    color:#FFF;
}

.card-header {
    width:100%;
}

@media  (max-width: 992px) {
    #medioPie{
        display:flex;
        justify-content:center;
        align-content:center;

    }
    #izquierdaPie,#centroPie,#derechaPie{
        display:flex;
        justify-content:center;
        align-content:center;
        flex-flow: row wrap ;
    }
    #izquierdaPie div ,#centroPie div,#derechaPie div{
        margin:0;
        margin-top:10px;
    }
    #formasPago,#nuestraEmpresa,#redesSociales,#infoTienda{
        display:flex;
        justify-content:center;
        align-content:center;
        flex-flow: row wrap ;
        flex-basis:50%;
    }

}
.modal-header {
    width:100%;
    margin:0px !important;
}
